* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

a {
  color: rgb(32, 38, 117);
}

.header {
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 5px 0 #dddddd;
  background-color: white;
}
.header,
.nav {
  width: 100%;
  height: 56px;
}

.nav-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: #515151;
  font-weight: 400;
}

.nav-link:hover {
  text-decoration: underline;
  color: #202020;
}

.main-container {
  display: flex;
  align-items: flex-start;
  max-width: 1150px;
  margin: 100px auto 70px;
}

.contacts-section {
  width: 350px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 16px 25px 1px #dddddd;
  margin-right: 30px;
  margin-left: 10px;
}

.contacts-name {
  text-align: center;
  color: #3e3e3e;
  font-weight: 500;
}

.profile-pic {
  width: 150px;
  border-radius: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacts-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts-info-item {
  display: flex;
  align-items: center;
  line-height: 30px;
}

.contacts-icons {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.cv-section {
  width: 750px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 16px 25px 1px #dddddd;
}

.cv-section-title-wrapper {
  display: flex;
  align-items: center;
  background-color: #ef7e45;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.cv-section-title-wrapper > .material-icons {
  margin-right: 10px;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.projects-item-link {
  text-decoration: none;
  cursor: pointer;
  color: #202020;
}

.projects-item-link:hover {
  text-decoration: underline;
    color: #202020;
}

.contacts-icon-email-link {
  text-decoration: none;
  cursor: pointer;
  color: #202020;
}

.contacts-icon-email-link:hover {
  text-decoration: underline;
    color: #202020;
}

.contacts-icon-phone-link {
  text-decoration: none;
  cursor: pointer;
  color: #202020;
}

.contacts-icon-phone-link:hover {
  text-decoration: underline;
    color: #202020;
}

.text-info {
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  background-color: #eaeaea;
}

.logo {
  height: 45px;
  margin: 2px;
  padding: 5px;
}

.code-example {
  background-color: #ededed;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 3px 4px 0 #b9b9b9;
}

.my-github {
  text-decoration: none;
  color: #202020;
  cursor: pointer;
}

.my-github:hover {
  text-decoration: underline;
  color: #202020;
}
